---
permalink: /404.html
---
{% assign in_spa_context = page.url contains '/blog' %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
    {% if in_spa_context %}
        <title>SPA Hack</title>
    {% else %}
        <title>404 Not Found</title>
    {% endif %}
</head>

<body>
    <div id=app>
        <div id="index-loading" class="message">
            <p><span class="progress"></span> (=_=)<span class="wait"></span></p>
        </div>
    </div>
    {% if in_spa_context %}
    <meta http-equiv="refresh" content="0;URL='/'"></meta> 
    {% else %}
    {% include current404.html %}
    {% endif %}
</body>


</html>