{% if page.url contains '/blog' %}
{% assign in_spa_context = true %}
{% else %}
{% assign in_spa_context = false %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
    {% if in_spa_context %}
        <title>SPA Hack</title>
    {% else %}
        <title>404 Not Found</title>
    {% endif %}
</head>

<body>
    {% if in_spa_context %}
    <meta http-equiv="refresh" content="0;URL='/blog/'"></meta> 
    {% else %}
    {% include_relative /current404.html %}
    {% endif %}
</body>


</html>