.blog-color{
    background-color: #0288d1 !important;
    /*#7c4dff */
}

.blog-color.btn:hover,.btn-floating:hover{
    background-color: #039be5 !important;
}

.blog-text{
    color: #0097a7 !important;
    /* #651fff*/
}

code{
    font-family: Consolas, "Courier New", monospace;
}
.table-of-contents a.active{
    border-left: 2px solid #0288d1;
}
.table-of-contents a:hover{
    border-left: 1px solid #0288d1;
}
blockquote{
    border-left: 5px solid #0288d1;
}

::selection{
    background: #0288d1;
    color: #fff;
}

span.heimu {background:black;color:black;}
span.heimu a:link{background:black;color:black !important;}
span.heimu a:visited{background:black;color:black !important;}
span.heimu a:hover {background:black;color:black !important;}
span.heimu a:active {background:black;color:black !important;}